.dm-hidden-navmenu-opener {
    position: fixed;
    background-color: rgba(216, 216, 216, 0.029); 
    height: 100%; 
    width: 10%; 
    top: 0
}

#avatar {
    margin: auto;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

.dm-navbar li {
    font-size: 2rem;
}

.dm-navbar li i.material-icons {
    font-size: 3rem;
    vertical-align: middle;
}

.dm-displayed-name {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    bottom: 1rem;
    font-weight: bold;
}

.dm-front-settings {
    position: absolute;
    top: 2rem;
    color: rgb(216, 216, 216);
    right: 2rem;
}

.dm-cards div {
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    margin: 3rem;
    height: 240px;
    background-color: rgb(255, 255, 255);
    padding: 0;
    overflow: hidden;
}

.dm-cards div img {
    width: 100%;
}

body {
    background-image: url('../img/main-background.jpg');
}

p.setting {
    font-size: 1.8rem;
    margin-bottom: 0px;
}
p.setting-desc {
    font-size: 1.2rem;
}
div.setting {
    margin-bottom: 20px;
}

i.hidden-icon {
    display: none !important;
}